@font-face {
    font-family: 'Poly';
    src: url('../assets/fonts/poly/Poly-Regular.otf');
}

@font-face {
    font-family: 'Capsuula';
    src: url('../assets/fonts/Capsuula.ttf');
}

html,
body {
  background-color: #D7CBE4;
	font-size: 14px !important;
  font-family: Poly;
}
h1 {
	font-size: 1.602em;
  font-family: Capsuula;
}
h2 {
	font-size: 1.424em;
  font-family: Capsuula;

}
h3 {
	font-size: 1.266em;
  font-family: Capsuula;

}
h4 {
	font-size: 1.125em;
  font-family: Capsuula;

}
h5 {
	font-size: 0.889em;
  font-family: Capsuula;

}
h6 {
	font-size: 0.79em;
  font-family: Capsuula;

}
.display-1 {
	font-size: 3.906em;
  font-family: Capsuula;

}
.display-2 {
	font-size: 3.125em;
  font-family: Capsuula;

}
.display-3 {
	font-size: 2.5em;
  font-family: Capsuula;

}
.display-4 {
	font-size: 2em;
  font-family: Capsuula;

}
.content-body {
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
    font-family: Capsuula;
	}
	h2 {
		font-size: 1.953em;
    font-family: Capsuula;
	}
	h3 {
		font-size: 1.563em;
    font-family: Capsuula;
	}
	h4 {
		font-size: 1.25em;
    font-family: Capsuula;
	}
	.display-1 {
		font-size: 6em;
    font-family: Capsuula;
	}
	.display-2 {
		font-size: 5.5em;
    font-family: Capsuula;
	}
	.display-3 {
		font-size: 4.5em;
    font-family: Capsuula;
	}
	.display-4 {
		font-size: 3.5em;
    font-family: Capsuula;
	}
}

@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}

.jumbotron {
	font-size: 16px;
	@media (min-width: 62em) {
		font-size: 20px;
	}
	h1 {
		border-bottom: 4px solid #0275d8;
	}
	p.lead {
		border-radius: 4px;
	}
}
