.navbar {
  background-image: none;
  background-size: cover;
  background-color: rgb(62, 58, 82);
  min-height: 3em;
  box-shadow: 0 0 5px 0 gray;
}

.navbar-nav {
  position: relative;
  right: 0;
  bottom: 0;
}

.header-item {
  font-weight: bold;
  color: white;
}

.header-logo {
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 5em;
}

/* Medium Devices */

@media (min-width: 48em) {
  .header-item {
    color: white;
  }

  .nav-item:hover {
    border-bottom: 2px solid white;
    background: rgba(100, 93, 129, 0.5);
  }

  .navbar {
    background:rgb(62, 58, 82);
    opacity: 0.9;
    box-shadow: 0 0 0 0;
    height: 5em;
  }

  .header-img {
    background-image: url('../assets/jd-new.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25em;
    box-shadow: 0 0 5px 0 gray;
  }
}
