.navbar {
  background-image: none;
  background-size: cover;
  background-color: white;
  min-height: 5em;
}

.navbar-nav {
  position: relative;
  right: 0;
  bottom: 0;
}

.header-item {
  font-family: Agane;
}

/* Medium Devices */

@media (min-width: 48em) {
  .header-item {
    color: white;
    font-family: Agane;
  }

  .header-item:hover {
    border-bottom: 3px solid white;
  }

  .navbar {
    background: transparent;
  }
  .header-img {
    background-image: url('../assets/header-crop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20em;
  }
}
