.navbar {
  background-image: none;
  background-size: cover;
  background-color: white;
  min-height: 5em;
  border: 1px solid black;
}

.navbar-nav {
  border:1px solid blue;
}

.header-item {
  color: black;
  border: 1px solid red;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: bottom;
  display: inline-block;
}

/* Medium Devices */
@media (min-width: 48em) {
  .navbar {
    background-image: url('../assets/header-crop.jpg');
    min-height: 20em;
  }

  .header-item {
    color: white;
    border: 1px solid red;
  }
}
