.content-body {
  /*border: 1px solid black;*/
}

.photo_grid {
  overflow: hidden;
  padding: 3%;
}

.photo_card {
  width: 100%;
  margin: 1%;
  box-shadow: 1px 1px 1px 0 gray;
}
.photo_card:hover {
  box-shadow: 4px 4px 4px 0 gray;
}

@media (min-width: 48em) {
  .phioto_grid {
    padding: 1%;
  }

  .photo_card {
    width: 33%;
    margin: 1%;
    box-shadow: 1px 1px 1px 0 gray;
  }



  .modal_img {
    width: 75%;
    height: auto;
  }

}
