.postLink {
  text-decoration: none;
  color: black;
}

.postLink:hover {
  color: #524D6B;
  text-decoration: none;
  font-size: 105%;
}

.pub-date {
  font-size: small;
}

.desc {
  font-size: small;
}

.head-title {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: wavy;
}
