.Post {
  padding: 2%;
  background-color: #F7F5FA;
  box-shadow: 0 3px 3px 0 gray;
}

.post-content {
  font-size: 105%;
}
.post-content a, .link {
  text-decoration: none;
  text-decoration-color: #587D71;
  color: #587D71;
}

.post-content a:hover, .link:hover {
  text-decoration: none;
  text-decoration-color: #ACC8B9;
  color: #ACC8B9;
}
